*{
  scroll-behavior: unset !important;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main{
  overflow-x: hidden;
}

.logo_blog{
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

/* Estilos del texto intermitente */
.blinking-text {
  opacity: 1; /* Inicialmente visible */
}

/* Animación de parpadeo utilizando requestAnimationFrame */
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Aplicar will-change para mejorar el rendimiento */
.blinking-text {
  position: relative;
  top: -.2rem;
  will-change: opacity;
  animation: blink 1.25s infinite;
}

/* Estilos del contenedor de la imagen de reemplazo */
.placeholder-image {
  width: 100%;
  height: 100px; /* Ajusta la altura del contenedor según tus necesidades */
  background-color: #dcdcdc; /* Color de fondo gris */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos de la "X" */
.placeholder-x {
  font-size: 60px; /* Ajusta el tamaño de la "X" según tus necesidades */
  color: #888; /* Color gris oscuro para la "X" */
}


.grid-width-responsive-260px400px{
  display: grid !important; 
  gap: 0.5rem;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.hidden{
  visibility: hidden;
}

.img-articulo-size{
  height: 150px;
  width: 240px;
  object-fit: cover !important;

}

/* Estilo para el párrafo con texto truncado */
.truncated-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.4; /* Ajusta el valor para el espacio entre líneas */
  max-height: 4.2em;
}


/* VIEW TRANSITION API */
@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-right {
  from { transform: translateX(120px); }
}

@keyframes slide-to-left {
  to { transform: translateX(-30px); }
}

::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

  
/* 
  ::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  height: 100%;
  overflow: clip;
}


::view-transition-old(root) {
  display: none;
}

::view-transition-new(root) {
  animation: none;
} */